* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

#content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 80px 1fr 50px ;
    grid-template-areas: 
        "header header"
        "sidebar todolist"
        "footer footer";
}

#header {
    grid-area: header;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#logo {
    font-size: 55px;
    word-spacing: 20px;
    letter-spacing: 4px;
}

#sidebar {
    grid-area: sidebar;
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 15px;
    gap: 15px;
}

#project-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.project-tile {
    display: flex;
    align-items: center;
    border: 2px solid transparent;
}

.project-tile-name {
    font-size: 20px;
    margin-right: auto;
}

.project-tile-btn-container {
    margin-left: auto;
}

.project-tile-btn-container > button {
    border-radius: 3px;
    border: none;
    padding: 2px;
}

.active-project {
    border: 2px solid white;
}

hr {
    width: 100%;
}

#new-project-btn {
    font-size: 18px;
    /* margin-top: 30px; */
    padding: 5px;
    border-radius: 5px;
    border: none;
}

#todolist {
    grid-area: todolist;
    background-color: blue;
    /* scroll-behavior: smooth; */
    overflow: auto;
    display: flex;
    justify-content:space-between;

}

#list {
    /* display: flex;
    flex-direction: column; */
    padding: 10px 50px 10px;
}

#addButton {
    height: 50px;
    width: 50px;
    font-size: larger;
    background-color: white;
}

#footer {
    grid-area: footer;
    background-color: yellow;
}