* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color-scheme: light;
}

html {
    color-scheme: light;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
  }

body {
    height: 100vh;
    width: 100vw;
}

#content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 80px 1fr 50px ;
    grid-template-areas: 
        "header header"
        "sidebar todolist"
        "footer footer";
}

#header {
    grid-area: header;
    background-color: #2E3138;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #E8F1F2;
}

#logo {
    font-size: 55px;
    word-spacing: 20px;
    letter-spacing: 4px;
}

#sidebar {
    grid-area: sidebar;
    background-color: #2E3138;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 15px;
    gap: 15px;
    border-right-width:2px;
    border-right-style: solid;
    border-right-color: #E8F1F2;
}

#project-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.project-tile {
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    padding: 2px 5px;
}

.project-tile-name {
    font-size: 20px;
    margin-right: auto;
    color: #E8F1F2;
}

.project-tile-btn-container {
    margin-left: auto;
}

.project-tile-btn-container > button {
    border-radius: 3px;
    border: none;
    padding: 2px;
}

.active-project {
    border: 2px solid #1B98E0;
}

hr {
    width: 100%;
    background-color: #E8F1F2;
    height: 3px;
}

#new-project-btn {
    font-size: 18px;
    font-weight: 700;
    padding: 5px 8px;
    border-radius: 7px;
    border: none;
    color: #2E3138;
    background-color: #E8F1F2;
}

#todolist {
    position: relative;

    grid-area: todolist;
    background-color: #2E3138;
    /* scroll-behavior: smooth; */
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 10px;
}

#add-todo-container {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* margin: 10px; */
    /* gap: 20rem; */
    width: 100%;
}

#project-name-container{
    font-size: 32px;
    margin-left: auto;
    color: #1B98E0;
}

#list {
    padding: 10px 50px 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: auto;
}

.todo-tile {
    margin: 7px;
    padding: 4px;
    border: 2px solid black ;
    width: 600px;
    font-size: 20px;

    display: grid;
    grid-template-columns: 8fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 
        "tile-title tile-status-btn tile-edit-btn tile-delete-btn"
        "tile-description tile-description tile-description tile-description"
        "tile-due-date tile-priority tile-priority tile-priority";
}

.tile-title {
    grid-area: tile-title;
    font-size: 24px;
    font-weight: bold;
}

.tile-description {
    grid-area: tile-description;
}

.tile-due-date {
    grid-area: tile-due-date;
}

.tile-priority {
    grid-area: tile-priority;
}

.tile-status-btn {
    grid-area: tile-status-btn;
}

.tile-edit-btn {
    grid-area: tile-edit-btn;
}

.tile-delete-btn {
    grid-area: tile-delete-btn;
}

.todo-tile > button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    justify-self: center;
}

.tile-status-btn.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
}

.tile-status-btn.material-symbols-outlined.complete-todo {
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
}

#addButton {
    height: 50px;
    width: 50px;
    font-size: 40px;
    background-color: #E8F1F2;
    margin-left: auto;
    margin-right: 20px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#form {
    position: absolute;
    border: 2px solid black;
    background-color: white;


    left: 0;
    right: 0;
    top: 100px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
}

.form-container {
    font-size: 20px;
    width: 100%;
    display: flex; 
    flex-direction: column;
    padding: 3px;
    margin: 3px 0px;
}

textarea {
    font-size: 20px;
    height: 70px;
    resize: none;
}

input {
    font-size: 20px;
}

#priority {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.form-label {
    color: red;
    font-size: 18px;
    margin-right: 10px;
}

#form > button {
    margin: 5px;
    height: 30px;
    width: fit-content;
    padding: 2px 5px;
    font-size: 20px;
}

#footer {
    grid-area: footer;
    background-color: #2E3138;
}